body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: grey;
    width: 425px;
    height: 450px;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    
}

.display {
    background-color:  white;
    color:  black;
    height: 48px;
    width: 250px;
    text-align: right;
    font-size: 32px;
    padding: 12px;
    border-radius: 100px;

}

.buttons {
    background-color: white;
    padding: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 250px;
    height: 300px;
    border-radius: 20px;

}

.buttons button {
    padding: 12px;
    margin: 6px;
    border-radius: 30px;
    font-size: 15px;
}

.top-row button {
    padding: 12px 26px;
}

.top-row .divisor {
    padding: 12px 42px;
}

.top-number-row .small-operator, .middle-number-row .small-operator {
    padding: 12px 14px;
}

.zero-row .equals {
    padding: 12px 40px;
}

.top-number-row button, .middle-number-row button, .bottom-number-row button, .zero-row button {
    background-color: lightgray;
    color: #000000;
}

.top-row .operator, .top-number-row .operator, .middle-number-row .operator, .bottom-number-row .operator, .zero-row .operator {
    background-color:  whitesmoke;
    color: #000000;
    
}